<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated BehaviourTree -->
      <factory class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://rds/capella/btree/1.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated BehaviourTree -->
      <extender class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
      <extender class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory$CapellacoreChildCreationExtender" uri="http://www.polarsys.org/capella/core/core/1.4.0"/>
      <extender class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory$PaChildCreationExtender" uri="http://www.polarsys.org/capella/core/pa/1.4.0"/>
      <extender class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory$EpbsChildCreationExtender" uri="http://www.polarsys.org/capella/core/epbs/1.4.0"/>
      <extender class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory$SharedmodelChildCreationExtender" uri="http://www.polarsys.org/capella/core/sharedmodel/1.4.0"/>
      <extender class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory$InformationChildCreationExtender" uri="http://www.polarsys.org/capella/core/information/1.4.0"/>
      <extender class="rds.capella.btree.data.BehaviourTree.provider.BehaviourTreeItemProviderAdapterFactory$CsChildCreationExtender" uri="http://www.polarsys.org/capella/core/cs/1.4.0"/>
   </extension>


<!--@generated-->
  <extension point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.BTreeRootItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.BTreeRootItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.BTreeIncludeItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.BTreeIncludeItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.ActionItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.ActionItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.ConditionItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.ConditionItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.ParallelItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.ParallelItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.SequenceItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.SequenceItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.ReactiveSequenceItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.ReactiveSequenceItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.SequenceStarItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.SequenceStarItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.FallbackItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.FallbackItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.ReactiveFallbackItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.ReactiveFallbackItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.InverterItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.InverterItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.ForceSuccessItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.ForceSuccessItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.ForceFailureItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.ForceFailureItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.RepeatItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.RepeatItemContribution"/>
    <MDEMenuItemContribution class="rds.capella.btree.data.BehaviourTree.provider.contributions.RetryItemContribution" id="rds.capella.btree.data.BehaviourTree.provider.contributions.RetryItemContribution"/>
</extension>

<!--@generated-->
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
</propertySections>
    </extension>

<!--@generated-->
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.eclipse.sirius.diagram.ui">
</propertySections>
    </extension>
</plugin>
